# === Eclipse & Java-related ===
.metadata
.settings/
.project
.classpath
*.class
*.jar
*.war
*.ear
*.log
tmp/
target/

# === Terraform ===
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# === macOS system files ===
.DS_Store
.AppleDouble
.LSOverride
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# === Git & Hidden Files ===
.*
!.gitignore

# === Allow important tracked files ===
!Jenkinsfile
!ansible/
!terraform/main.tf

kubernetes/terraform/terraform.tfstate
kubernetes/terraform/terraform.tfstate.backup
